.main {
  height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.add-button {
  height: 30px;
  width: 80px;
  border-radius: 25px;
  align-self: center;
}

#root {
  background-color: rgba(255, 255, 255, 0.664);
}
